@page "/bodymap"

<h3>Injury Prevention Guide</h3>

<div style="position: relative; display: inline-block; width: 400px; height: 600px; 
            background-image: url('/images/female.png'); background-size: contain; background-repeat: no-repeat;">
    
    <div @onmouseover="ShowBackInjury"
         @onmouseout="HideInjury"
         style="position: absolute; top: 100px; left: 80px; width: 60px; height: 80px; 
                background: rgba(255,0,0,0.2); cursor: pointer;">
    </div>
</div>

<div style="margin-top: 20px; padding: 10px; border: 1px solid #ccc;">
    <h4>@selectedBodyPart</h4>
    <p>@injuryInfo</p>
</div>

@code {
    private string selectedBodyPart = "Hover over a body part";
    private string injuryInfo = "Information will appear here";
    
    private void ShowBackInjury()
    {
        selectedBodyPart = "Back";
        injuryInfo = "Common injury: Lumbar strain. Prevention: Keep chest open, avoid rounding back.";
    }
    
    private void HideInjury()
    {
        selectedBodyPart = "Hover over a body part";
        injuryInfo = "Information will appear here";
    }
}